<article 
	{{#if versions.fix2admin}}
		class="item" 
	{{else}}
		class="item no-visual" 
	{{/if}}
	data-id="{{id}}"
	data-type="{{type}}"
>
	{{#if versions.fix2admin}}
		<img class="preview" src="{{versions.fix2admin.url}}">
	{{else}}
		<div class="preview"></div>
	{{/if}}
	<div class="meta">
		<span class="title">{{title}}</span>
		<span class="created">{{created}}</span>
		{{#if depend}}
			/ <span class="depend">{{depend}} depending</span>
		{{/if}}
	</div>
</article>

