<article class="item">
	<div class="image"></div>
	<div class="meta">
		<span class="title">{{title}}</span>
		<span class="size">{{size}}</span>
		<span class="status">{{status}}</span>
		<span class="progress">{{progress}}</span>
		<div class="message">{{message}}</div>
	</div>
</article>


