<section class="available">
	{{#each file in controller}}
		{{view ME.AvailableFileView contentBinding="file"}}
	{{/each}}
</section>
<footer>
	<div class="create">
		<label>Transfer</label>
		<input type="file" id="new-file" accept="image/*" style="display: none;">
		<div class="title">{{newFileTitle}}</div>
		<button class="transfer-select" id="select-new-file" {{action "selectNewFile"}}>select</button>
		<button class="transfer-start" {{action "createFile"}}>transfer</button>
	</div>
	<div class="selection">
		<label>Selection</label>
		<button class="confirm large" {{action "confirmSelection"}} type="submit">confirm</button>
		{{#if showCancelSelection}}
			<button class="cancel large" {{action "cancelSelection"}}>cancel</button>
		{{/if}}
	</div>
</footer>


